{% extends "base.html" %}

{% block body %}

<!-- Sample of usage for template provided via render() in views.py -->
<p>This is {{app}} test.</p>

{% for i in num %}
{{i}}<br>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<canvas id="piecanvas" height="450" width="800"></canvas></br>
<select id="optionlist"></select>

<!-- Debug purpose -->
<div id="output">This is default string.</div></br>
<input type="button" value="Button" onclick="OnClickButton()"></br>

<script>
    // DEBUG: For investigate behavior
    function OnClickButton() {
        var jsonResponse = null;

        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (request.readyState == 4 && request.status == 200) {
                jsonResponse = request.responseText;
                document.getElementById("output").innerText = jsonResponse;
            }
        };

        // Get JSON data via Web API
        request.open("GET", "http://localhost:8000/charts/api/data/", false);
        request.send(null);

        // Convert JSON response data to JSON object which can be used for JavaScript
        jsonObj = JSON.parse(jsonResponse);

        // Debug Log
        //jsonText = JSON.stringify(jsonObj.WaferData[1]);
        //document.getElementById("output").innerText = jsonText;

        // Update PieChart data
        // TODO: Change only datasets since it seemed be overlay new chart on old chart.
        myChart = new Chart(document.getElementById("piecanvas").getContext("2d")).Doughnut(jsonObj.WaferData[0]);
        myChart.update();
    }

    function getJsonData() {
        var jsonResponse = null;

        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (request.readyState == 4 && request.status == 200) {
                jsonResponse = request.responseText;
                
                // DEBUG: logs JSON data contents to <div id="output">
                document.getElementById("output").innerText = jsonResponse;
            }
        };

        // Get JSON data via Web API
        request.open("GET", "http://localhost:8000/charts/api/data/", false);
        request.send(null);

        // Convert JSON response data to JSON object which can be used for JavaScript
        jsonObj = JSON.parse(jsonResponse);
        return jsonObj;
    }

    // TODO: Need to update since it seemed to add new chart on preivous chart.
    function updatePieChartData(waferNo) {
        myChart = new Chart(document.getElementById("piecanvas").getContext("2d")).Doughnut(jsonObj.WaferData[waferNo]);
        myChart.update();
    }

    function createSelectOptions() {
        var selectList = document.getElementById("optionlist");

        for (var i = 0; i < jsonObj.WaferNum; i++) {
            let option = document.createElement("option");
            option.value = i;
            option.text = i + 1;
            selectList.appendChild(option);
        }

        selectList.onchange = function() {
            var selectedItem = this.options[this.selectedIndex].value;
            console.log(selectedItem);
            updatePieChartData(selectedItem);
        }

    }

    // Request JSON data from server
    var jsonObj = getJsonData();

    // Create Dropdown list based from "WaferNum" item in JSON data
    createSelectOptions();

    // Create PieChart
    var myChart = new Chart(document.getElementById("piecanvas").getContext("2d")).Doughnut(jsonObj.WaferData[0]);
</script>

{% endblock %}
